<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<nav th:fragment="header">
		<div>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Tasks</a></li>
				<li><a href="#">Tasks (Layout Dialect)</a></li>
			</ul>
			<ul>
				<li><a href="/signin" th:href="@{/signin}"> <span aria-hidden="true"></span>&nbsp;Sign in
				</a></li>
				<li><a href="/logout" th:href="@{#}" onclick="$('#form').submit();"> <span
						class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
				</a>
					<form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form></li>
			</ul>
		</div>
	</nav>
</body>
</html>